/* Place Your Custom Styles Here */

.video {
  display: block;
  margin: 0 auto;
}

.containervideo {
  background-color: #111111;
}

.ourservices {
  background-color: #1e1e1e;
}

.fontsize {
  font-size: 20px;
  color: antiquewhite;
}

.buttonhover:hover {
  color: white;
  background-color: transparent;
  animation-duration: 600ms;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;

  object-fit: cover;
  overflow: hidden;
  object-fit: initial; /* Use "initial" to maintain the video's aspect ratio */
  position: absolute;
  bottom: 0;
}

.black-color {
  background-color: #111111;
}

.theme-color {
  color: white;
}

.theme-color-2 {
  color: antiquewhite;
}

.theme-color-3 {
  background-color: #470f2c;
}

.black-color-2 {
  background-color: #141414;
}

.white-color {
  color: white;
}
.black-color-dark {
  background-color: #000000;
}
.black-color-mid {
  background-color: #1e1e1e;
}

.font-color {
  color: antiquewhite;
}

.title {
  font-size: 30px;
  font-weight: 400;
  color: antiquewhite;
  padding-bottom: 30px;
}

.imagewidth {
  width: 600px;
}

.margin20 {
  width: 80%;
  margin: auto;
  padding: 0%;
}

.bg-image1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.custom-container:hover .bg-image1 {
  transform: scale(1.3);
}

.bg-color1 {
  opacity: 1;
  background-color: #111111;
  position: absolute;
  width: 230px;
  border: 1px solid white;
  height: 250px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.custom-container:hover .bg-color1 {
  box-shadow: inset 10px 24px 40px 0px black, inset -10px -24px 40px 0px black,
    inset 20px -10px 40px 0px black, inset -20px 10px 40px 0px black;
  opacity: 0.8;
}

.custom-container {
  position: relative;
  overflow: hidden;
  opacity: 1;
  object-fit: cover;
  width: 230px;
  height: 250px;
  padding: 10px;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.custom-container:hover {
  background-size: fill; /* Use fill on hover */
  opacity: 0.8; /* Change opacity on hover */
  animation-duration: 600ms;
}
.custom-text {
  font-size: 16px;
  color: antiquewhite;
  padding: 15px;
  font-weight: 545;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust the minimum width as needed */
  grid-gap: 25px; /* Adjust the gap between items as needed */
  /* Center items vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.send-button {
  background-color: white;
  color: black;
  border: none;
  font-weight: 500;
}

.send-button:hover {
  background-color: #111111;
  color: antiquewhite;
}

.language-selector {
  background-color: transparent;
  color: #111111;
  border: none;
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

.align-center-text {
}
.icons-phone {
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.tiktok-icon {
  color: white;
  width: 20px;
}
.loader-color {
  color: #470f2c;
}

.margin-left-5 {
  margin-left: 5%;
}

.margin-right-5 {
  margin-right: 5%;
}

.partners-container {
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-color: white;
  object-fit: cover;
  width: 230px;
  height: 130px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.partners-container-overlay {
  opacity: .5;
  background-color:rgba(0, 0, 0, 0.7);
  border-radius: 10px;

}

.partners-container-overlay:hover {
  opacity: 1;
}

.image-partners {
  object-fit: cover;
  width: 100%;
  background-color: white;
}

.padding-0 {
  padding: 0px;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
  margin: 10px;
}

.swiper .swiper-pagination-bullet {
  background-color: white;
}
.swiper .swiper-pagination-bullet-active {
  background-color: antiquewhite;
}

.swiper-overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ) !important; /* Use a semi-transparent black background */
  opacity: 0.3; /* You can keep opacity at 1 if you want the overlay to be fully visible */
}

.image-full-size {
  object-fit: cover;
}

.with-gradient {
  position: relative;
}
.with-gradient:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.icons-end {
  width: 100%;
  margin-top: 20px;
  line-height: 1;
  color: #fff;
  transition: bottom 0.7s cubic-bezier(0.54, 0.18, 0.36, 0.81),
    color 0.7s cubic-bezier(0.54, 0.18, 0.36, 0.81);
  z-index: 100;
  text-align: center;
}

.icons-end a {
  font-size: 18px;
  text-align: center;
  transition: opacity 0.3s ease-out;
}
.icons-end ul {
  margin: 0 auto; /* Center-align the list horizontally */
  padding: 0;
  display: inline-block;
}

.icons-end a,
.icons-end a i,
.icons-end a:hover,
.icons-end a:hover i {
  color: inherit;
}

.icons-end ul:hover a {
  opacity: 0.54;
}
.icons-end ul:hover a:hover {
  opacity: 1;
}

.icons-end li {
  display: inline;

  margin-right: 15px;
}

.width-100 {
  width: 100%;
}

.copyright-text {
  color: white;
  size: 20px;
  text-align: center;
  margin: 5px;
}

@media (max-width: 768px) {
  .video {
    height: 100%;
  }

  .grid-container {
    display: grid;
    /* Center vertically */
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    grid-gap: auto; /* Adjust the gap between items as needed */
    margin: 50px;
  }
  .icons-phone {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
  }

  .align-center-text {
    text-align: right;
    margin-right: 0px;
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    color: transparent;
  }
}
